/* Variabelen */
:root {
  --primary-color: #4B0082;
  --secondary-color: #7D26CD;
  --text-color: white;
  --font-family: Arial, sans-serif;
  --padding-size: 20px;
}

/* Algemene stijlen */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--secondary-color);
}

/* Hoofdinhoud */
main {
  padding-top: calc(var(--navbar-height) + var(--padding-size));
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  width: 80%;
}

.section:nth-child(even) {
  flex-direction: row-reverse;
}

/* Stijlen voor afbeeldingen */
img.portfolio-image {
  width: auto;
  height: 500px;
  margin-right: 40px;
}

/* Mediaquery voor kleinere schermen */
@media only screen and (max-width: 600px) {
  main {
    padding-top: calc(var(--navbar-height) + var(--padding-size) * 2);
  }

  img.portfolio-image {
    width: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
